language: elixir
elixir:
  - 1.6
  - 1.5
  - 1.4
  - 1.3
otp_release:
  - 20.2
  - 19.0
  - 18
env:
  - MIX_ENV=test
install:
  - mix local.hex --force
  - mix local.rebar --force
  - mix deps.get
script:
  - mix test
